/* <select> styles */
select {
    /* Reset Select */
    appearance: none;
    overflow-y:hidden;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    padding: 1em 1em;
    color: rgb(0, 0, 0);
    font-size: medium;
    background-color:rgba(190, 193, 194, 0.372);
    border-radius: 16px;
    border: 1px solid rgba(22, 24, 24, 0.445);
    cursor: pointer;
  }

option {
    background-color: rgba(255, 255, 255, 0.571);
    color: rgba(0, 0, 0, 0.6);
}

/* Works on Firefox */
div#banco-container {
    scrollbar-width: thin;
    border-radius: 16px;
}

/* Works on Chrome, Edge, and Safari */
div#banco-container::-webkit-scrollbar {
    height: 12px;
}


div#banco-container::-webkit-scrollbar-thumb {
    background-color: rgba(249, 245, 245, 0.756);
    border-radius: 16px;
    border: 1px solid rgba(22, 24, 24, 0.445);
}

div#banco-container {
    word-wrap: break-word;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 70%;
    display: flex;
    overflow-y: hidden;
    background-color: rgba(69, 74, 74, 0.187);

}

.banco-itens {
    font-size: 20px;
    border-radius: 16px;
    padding: 5px;
    border: 1px solid rgba(22, 24, 24, 0.119);

}

.sangue-table {
    margin: auto;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(22, 24, 24, 0.119);

}

.sangue-item {
    padding: 2px;
}

.dropdownBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    height: 50px;
    width: 500px;
}